<h1>Image Viewer</h1>

<img src="assets/img/xpl_rgb_800.png" height="178" width="640"/>
<p class="text-align-right">
  Xplicity Dev Day 2018
</p>
<div>
  <button class="close-button" mat-raised-button matDialogClose color="primary" (click)="close()">Close</button>
</div>
