:host {
  display: block;
  //padding: 0.5em;
  background-color: white;
  width: 100%;
  //margin-left: 2px;
}

.path {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #f0f8ff;
  line-height: 0.75em;
}
