:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-file-explorer {
  flex: 0;
}

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

app-path {
  flex: 0;
  //top: 0;
  z-index: 100;
}

app-gallery {
  flex: 1;
  overflow-y: auto;
}
