<app-path></app-path>
<div class="main-wrapper">
  <app-file-explorer (currentPathChanged)="currentPathChanged($event)"></app-file-explorer>
  <app-gallery [currentPath]="currentPath"></app-gallery>
</div>
